<md-content class="md-padding">
  <md-card ng-repeat="notification in notifications">
    <md-card-content>
      <h2 class="md-title">{{notification.name}}</h2>
      <p>
        {{notification.description}}
      </p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button>Mark As read</md-button>
      <md-button ng-click="showMore($event)">More.</md-button>
    </div>
  </md-card>  
</md-content>
