<md-content layout="column" flex class="md-padding  signup-page-container">
  <form ng-submit="doLogin()" class="register-container">
    <div>
      <md-input-container class="md-icon-float">
        <label>Name</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input type="text" ng-model="loginData.name">
      </md-input-container>
    </div>
    <div>
      <md-input-container class="md-icon-float">
        <label>Surname</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input type="text" ng-model="loginData.surname">
      </md-input-container>
    </div>
    <div>
      <md-input-container class="md-icon-float">
        <label>Mobile</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input type="text" ng-model="loginData.mobile">
      </md-input-container>
    </div>
    <div>
      <md-input-container class="md-icon-float">
        <label>Email</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input type="email" ng-model="loginData.email">
      </md-input-container>
    </div>
    <div>
      <md-input-container class="md-icon-float">
        <label>Password</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input type="password" ng-model="loginData.password">
      </md-input-container>
    </div>
    <div>
      <md-input-container class="md-icon-float">
        <label>Location</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input type="password" ng-model="loginData.location">
      </md-input-container>
    </div>
    <div class="center">
      <md-button type="submit" class="md-warn md-raised md-hue-2 ">Register</md-button>
    </div>
  </form>
</md-content>