<ion-modal-view>
	<ion-header-bar>
		<h1 class="title" style="color: #FFF">BUY</h1>
		<div class="buttons">
			<button class="button button-clear" style="color: #FFF" ng-click="closeLogin()">Close</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">

			<div class="item">
				<div class="row">
					<div class="col col-50">Instrument</div><div class="col col-50">{{modalData.instrument}}</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="col col-50">Contract</div><div class="col col-50">{{modalData.contract}}</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="col col-50">Last Price</div><div class="col col-50">{{modalData.lastPrice}}</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="col col-50">Open Interest</div><div class="col col-50">{{modalData.openInterest}}</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="col col-50">Open Price</div><div class="col col-50">{{modalData.openPrice}}</div>
				</div>
			</div>
		</div>
		<button ng-show="buyVisibility" class="button button-full button-balanced">
			Buy
		</button>

		</div>
	</ion-content>
</ion-modal-view>
