<md-content layout="column" flex class="md-padding">
  <md-list>
    <md-list-item  layout="row" layout-wrap ng-repeat="price in prices" ng-click="goToPerson(person.name, $event)">
      <div flex="15"><ng-md-icon icon="{{ price.icon}}" style="fill:#E57373" size=30px></ng-md-icon> </div>
      <div flex="25"><h4>{{ price.instrument}}</h4></div>
      <div flex="40"><md-slider ng-disabled="true" flex min="0" max="100" ng-model=price.change aria-label="red" id="red-slider" class>
        </md-slider></div>
      <div flex="20"><md-button  ng-class="{'md-raised':price.change < 30,'md-raised md-warn':price.change >= 30}"  ng-click="showGridBottomSheet($event)">{{checkStatus(price.change)}}</md-button></div>
      <md-divider ></md-divider>
    </md-list-item>
  </md-list>
</md-content>