<md-content class="md-padding">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Rain ">
      <md-content class="md-padding">
        <md-switch ng-model="stationToggle"  ng-change="toggleRainSummery(stationToggle)" >
          BVG Head Office</span> / <span> Pretoria Oos
        </md-switch>
        <div layout="row" layout-wrap>
          <div flex="40">
            <h4>Date</h4>
          </div>
          <div flex="60">
            <h4>Value</h4>
          </div>
        </div>
        <div layout="row" layout-wrap  ng-repeat="bgvData in bgvDatas">
          <div flex="40">
            <p>{{bgvData.date}}</p>
          </div>
          <div flex="60">
            <p>{{bgvData.value}}</p>
          </div>
        </div>

      </md-content>
    </md-tab>
    <md-tab label="Temprature">
      <md-content class="md-padding">
        <md-switch ng-model="stationToggle"  ng-change="toggleRainSummery(stationToggle)" >
          BVG Head Office</span> / <span> Pretoria Oos
        </md-switch>
        <div layout="row" layout-wrap>
          <div flex="40">
            <h4>Date</h4>
          </div>
          <div flex="60">
            <h4>Value</h4>
          </div>
        </div>
        <div layout="row" layout-wrap  ng-repeat="bgvData in bgvDatas">
          <div flex="40">
            <p>{{bgvData.date}}</p>
          </div>
          <div flex="60">
            <p>{{bgvData.value}}</p>
          </div>
        </div>

      </md-content>
    </md-tab>
    <md-tab label="Evaporation">
      <md-content class="md-padding">
        <md-switch ng-model="stationToggle"  ng-change="toggleRainSummery(stationToggle)" >
          BVG Head Office</span> / <span> Pretoria Oos
        </md-switch>
        <div layout="row" layout-wrap>
          <div flex="40">
            <h4>Date</h4>
          </div>
          <div flex="60">
            <h4>Value</h4>
          </div>
        </div>
        <div layout="row" layout-wrap  ng-repeat="bgvData in bgvDatas">
          <div flex="40">
            <p>{{bgvData.date}}</p>
          </div>
          <div flex="60">
            <p>{{bgvData.value}}</p>
          </div>
        </div>

      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
