<md-content layout="column" flex class="md-padding landing-page-container">
  <div layout="column">
    <div flex class="center">
      <md-button href="#/login" class="md-warn md-raised md-hue-2 landing-button">LOGIN </md-button>
    </div>
    <div flex class="center">
      <md-button href="#/register" class="md-warn md-raised md-hue-2 landing-button">REGISTER</md-button>
    </div>
  </div>
</md-content>


