<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>POC to evaluate ng-cordova</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- build:css css/app.css -->
    <!-- injector:css -->
    <link rel="stylesheet" href="vendor/angular-material/angular-material.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="ionicCordova" layout="column" ng-controller="mainCtrl">

  <header-bar header-title="headerTitle" ng-if="isLoggedIn"></header-bar>
  
  <div layout="row" flex>
    <nav-menu ng-if="isLoggedIn"></nav-menu>
    <div layout="column" flex id="content">
        <div ui-view></div> 
    </div>
  </div>



  <!-- 
    There will be one 404 error during development for ng-cordova_plugins.js
    After build this javascript file will be made by cordova engine
  -->

  <!-- build:js scripts/app.js -->
  <!-- injector:js -->
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-resource/angular-resource.js"></script>
  <script src="vendor/angular-cookies/angular-cookies.js"></script>
  <script src="vendor/angular-mocks/angular-mocks.js"></script>
  <script src="vendor/ngCordova/dist/ng-cordova.js"></script>
  <script src="vendor/angular-animate/angular-animate.js"></script>
  <script src="vendor/angular-aria/angular-aria.js"></script>
  <script src="vendor/angular-material/angular-material.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="vendor/angular-material-icons/angular-material-icons.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/common/common.js"></script>
  <script src="scripts/common/services/appconstants-services.js"></script>
  <script src="scripts/common/services/authentication-service.js"></script>
  <script src="scripts/common/services/data-services.js"></script>
  <script src="scripts/common/services/newsFeedService.js"></script>
  <script src="scripts/common/factories/httpinterceptor-factory.js"></script>
  <script src="scripts/common/providers/dataclient-provider.js"></script>
  <script src="scripts/common/providers/navigation-provider.js"></script>
  <script src="scripts/common/providers/notification-provider.js"></script>
  <script src="scripts/common/controls/menucontrol/menu-control.js"></script>
  <script src="scripts/common/controls/headerbar/headerbar.js"></script>
  <script src="scripts/modules/modules.js"></script>
  <script src="scripts/modules/login/login-controller.js"></script>
  <script src="scripts/modules/menu/menu-controller.js"></script>
  <script src="scripts/modules/buysell/buysell-controller.js"></script>
  <script src="scripts/modules/dailyreports/dailyreport-controller.js"></script>
  <script src="scripts/modules/graphs/graphs-controller.js"></script>
  <script src="scripts/modules/notifications/notification-controller.js"></script>
  <script src="scripts/modules/weather/weather-controller.js"></script>
  <script src="scripts/modules/angularmaterial/material-controller.js"></script>
  <!-- endinjector -->
  <!-- endbuild --> 
</body>
</html>
