<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <md-list>
    <md-list-item ng-repeat="menu in menus">
      <md-button ui-sref="{{menu.url}}">
        {{menu.name}}
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="doLogOut()">
        Logout
      </md-button>
    </md-list-item>
  </md-list>

</md-sidenav>