<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <md-button class="menu" hide-gt-sm ng-click="toggleList()" aria-label="Show User List">
      <ng-md-icon icon="menu" style="fill:#FFF" size=40px></ng-md-icon> 
    </md-button>
    <h4>{{title}}</h4>
  </div>
</md-toolbar>
