<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>

    <ion-content class="menu-list-background">
      <div class="row menu-header-block">

      </div>
      <ion-list>
        <ion-item menu-close href="#/app/newsFeed" class="no-border">
          DAILY REPORT 
        </ion-item>
        <ion-item menu-close href="#/app/notifications" class="no-border">
          NOTIFICATIONS
        </ion-item>
        <ion-item menu-close href="#/app/weather" class="no-border">
          WEATHER
        </ion-item>
        <ion-item menu-close href="#/app/graphs" class="no-border">
          GRAPHS
        </ion-item>
        <ion-item menu-close href="#/app/buysell" class="no-border">
          BUY/SELL
        </ion-item>
        <ion-item menu-close href="#/app/material" class="no-border">
          Angular Material
        </ion-item>
      </ion-list>

      <ion-item ng-click="doLogOut()" class="no-border logout-link">
        LOGOUT
      </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
