<md-content layout="column" flex class="md-padding  login-page-container">
  <form class="login-container centered" ng-submit="doLogin()">
    <div layout="column">
      <div>
        <md-input-container class="md-icon-float">
          <label>Email</label>
          <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
          <input type="text" ng-model="loginData.email">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="md-icon-float"> 
          <label>Password</label>
          <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
          <input type="password" ng-model="loginData.password">
        </md-input-container>
      </div>
      <div class="center">
        <md-button class="md-warn md-raised md-hue-2" type="submit">Log in</md-button>
      </div>
    </div>
  </form>
</md-content>