<ion-view view-title="News Feeds">
    <ion-header-bar class="bar-assertive">
    </ion-header-bar>
    <ion-content>
        <ion-refresher on-refresh="loadBlogs()">            
        </ion-refresher>
		<div class="list" data-ng-if="posts.length" data-ng-repeat="p in posts">

			<a class="item item-thumbnail-left" href="#">
				<img data-ng-src="{{p.author.avatar_URL}}">
				<h2>{{p.title}}</h2>
				<p>{{ p.author.nice_name}}</p>
			</a>

		</div>
        <ion-infinite-scroll on-infinite="moreBlogs()" 
                             data-ng-if="infiniteLoad" icon="">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>